<section
  class="w-full h-[350px] flex flex-col justify-center items-center gap-y-4 bg-gray-600 text-white"
>
  <h1 class="text-3xl font-medium">Welcome to BlogHub</h1>
  <p class="font-medium w-[500px] text-center">
    Explore a diverse range of topics, from technology to lifestyle, and
    everything in between. Whether you're seeking practical advice, in-depth
    analysis, or simply a moment of inspiration.
  </p>
  <a
    href="/api/v1/blog/new-article"
    class="px-4 py-2 bg-gray-500 font-medium cursor-pointer rounded"
  >
    create article
  </a>
</section>
